<h1>Database Project</h1>
<div>
	<h3>By Joshua Herrera</h3>
	<p>This website is a small database on characters, factions, places, and abilities from the Wheel of Time books by Robert Jordan.</p>
	<p>Navigate to a page to view or edit information for that subject.</p>
</div>